:root {
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff40;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
}

section {
  position: absolute;
  background-color: #20202379;
  width: 100vw;
  height: 100vh;
  top: 0;
  inset: 0;
  display: grid;
  font-size: 40px;
  place-content: center;
  font-weight: 300;
}

span {
  font-weight: 700;
}
